@font-face {
  font-family: "Baloo 2", sans-serif;
  src: local(Baloo 2) url(../../assets/fonts/Baloo2-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Leckerli One", cursive;
  src: local(Leckerli One) url(../../assets/fonts/LeckerliOne-Regular.ttf)
    format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local(Open Sans) url(../../assets/fonts/OpenSans-Regular.ttf)
    format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: local(Open Sans) url(../../assets/fonts/OpenSans-SemiBold.ttf)
    format("truetype");
  font-style: normal;
  font-weight: 600;
}
