* {
  /*Fontes*/
  --font-family1: "Baloo 2", sans-serif;
  --font-family2: "Leckerli One", cursive;
  --font-family3: "Open Sans", sans-serif;

  --logo: 400 4rem var(--font-family2);

  --headingMd: 700 2.8rem var(--font-family1);
  --headingSm: 700 1.8rem var(--font-family1);

  --bodyMd: 400 1.6rem var(--font-family3);
  --bodyMd: 600 1.6rem var(--font-family3);

  --bodySm: 400 1.4rem var(--font-family3);
  --bodySm: 600 1.4rem var(--font-family3);

  --bodyXs: 400 1.2rem var(--font-family3);
  --bodyXs: 600 1.2rem var(--font-family3);

  /*Cores*/
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  --danger: #ff5959;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;
}
